*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.no-pading{
    padding: 0;
}

.texto-logo{
    margin-right: 10%;
}

.texto-navbar{
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 0;
}

.navbar{
    width: 100%;
    background-color: rgb(59, 59, 59);
    color: white;
    text-decoration: none;
    position: absolute;
    z-index: 2;
    padding: 0;
}

.barra{
    background-color: rgb(59, 59, 59);
    height: 5rem;
}

.logo{
    height: 100%;
    display: inline-block;
    color: white;
    font-size: 25px;
}

.seccion-link{
    font-size: 16px;
    text-align: right;
    padding: 0px 0px 0px 0;
    max-height: 100%;
    margin-right: 20px;
}

.link{
    color: white;
    text-decoration: none;
    padding: 6px;
    margin: 0 5px 0 5px;
}

.link:hover{
    color: gray;
}

.opaco{
    color: rgb(173, 173, 173);
}

.medio{
    position: absolute;
}

.Imagen-principal{
    width: 100%;
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
}

.contenedor-medio{
    position: relative;
}

.texto-medio1{
    position: absolute;
    top: 40%;
    right: 10%;
    max-width: 50%;
    text-align: right;
    font-size: 42px;
    color: white;
}

.texto-medio{
    position: absolute;
    width: 50%;
    top: 50%;
    right: 10%;
    width: 60%;
    text-align: right;
    font-size: 22px;
    color: white;
}


.link-medio1{
    display: absolute;
    width: 15%;
    padding: 0 0 2px 0;
    text-align: center;
    font-size: 22px;
    position: absolute;
    top: 70%;
    right: 27%;
    color: white;
    border: 1px solid white;
    text-decoration: none;
    border-radius: 10px;
}

.link-medio1:hover{
    color: rgb(74, 74, 74);
}


.link-medio2{
    display: absolute;
    width: 15%;
    padding: 0 0 2px 0;
    text-align: center;
    font-size: 22px;
    position: absolute;
    top: 70%;
    right: 10%;
    color: white;
    text-decoration: none;
    border-radius: 10px;
}

.link-medio2:hover{
    color: gray;
}

.presentacion{
    position: relative;
}

.imagenorador{
    width: 100%;
}


.boxtitulooradores{
    text-align: center;
    margin: 10px 0;
}

.titulooradores{
    margin: 0%;
}

.contenedororadores{
    width: 100%;
}

.cajamedio{
    padding: 0;
    border: 1px solid rgba(0, 0, 0, 0.349);
    margin-inline: 25px;
    width: 20%;
}

.js{
    background-color: rgb(245, 224, 43);
    font-weight: bold;
}

.r{
    background-color: rgb(41, 180, 214);
    color: white;
}

.negocios{
    background-color: gray;
    color: white;
}


.startups{
    background-color: rgb(204, 40, 40);
    color: white;
}

.nombre{
    margin-bottom: 25px;
}

.lenguaje{
    border-radius: 5px;
    padding: 1px 7px;
    margin:30px 0px 0px 0px;
    display: inline-block;
    font-weight: bold;
}

.cajatextooradores{
    margin-left: 20px;
    text-align: left;
    padding:0px 20px 0px 0px;
    font-size: 14px;
}

.parrafosoradores{
    line-height: 25px;
}

.bsa{
    margin: 50px 0 30px 0;
    padding: 0;
    background-color: rgb(42, 42, 42);
}

.playa{
    width: 47%;
    margin: 0;
    padding: 0;
}

.textoplaya{
    width: 90%;
    margin-top: 20px;
    margin-right: 0%;
    padding-right: 0%;
}

.textobsa{
    color: white;

}

.contenedorrow{
    width: 100%;
}

.linkplaya{
    padding: 5px 10px;
    text-align: center;
    font-size: 18px;
    color: white;
    border: 1px solid white;
    text-decoration: none;
    border-radius: 10px;
}

.texto-formulario{
    text-align: center;
    margin: 20px 0 0px 0;
    line-height: 10px;
}

.texto-formulario p{
    margin: 0%;
    display: inline-block;
}

.textosup-orador{
    font-size: 13px;
}

.subrayado{
    border-bottom: dotted 2px; 
}

.contenedor-formulario{
    margin: 0px auto 30px auto;
    width: 60%;
}

.opacity{
    opacity: 0.6;
    font-size: 14px;
}

.textbox-grande{
    height: 100px;
}

.boton{
    display: inline;
    width: 100%;
    background-color: rgb(111, 189, 72);
    border: none;
    padding: 10px;
    font-size: 18px;
    color: white;
}

.contenedor-footer{
    background-color: rgb(13, 40, 78);
    margin: auto;
    text-align: center;
    padding: 30px;
    width: 100%;
}

.link-footer{
    text-decoration: none;
    color: white;
    margin: 2%;

}

.link-footer:hover{
    color: grey;
}